.Header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.Header ul div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-item {
    margin: 20px;
    text-decoration: none;
    color: rgb(45, 151, 212);
    cursor: pointer;
}

.logo {
    width: 200px;
    height: 200px;
}

.info-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;
}