.SearchPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-bar {
    align-self: flex-start;
    
    /* width: 50%; */
}

.search-input {
    border: solid black .5px;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
}

.search-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 50px;
}